.v-center {
    vertical-align: middle;
}

.h-center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.large-text {
    font-size: 60px;
}

.large-icon {
    color: #33A5E7;
    padding: 15px;
    font-size: 60px;
}

.logo {
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.logo-subtext {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.container {
    padding: 10px;
}

.link-container {
    border-radius: 8px;
    border: 3px solid #33A5E7;

    color: #33A5E7;
    padding: 10px;
}

.link-container a {
    text-decoration: none;
}

.spaced-col {
    margin-top: 20px;
}

.black-text {
    color: #000;
}

.flex-container {
    display: flex;
}

.flex-container-center {
    justify-content: center;
}

